.colored-div {
    border: 2px solid black; /* Add a black border with 2px width */
    padding: 10px; /* Add padding for better spacing */
    margin: 10px; /* Add margin to separate the divs */
}
.ConText{
  border: 2px solid black; /* Add a black border with 2px width */
    padding: 10px; /* Add padding for better spacing */
    margin: 10px;
    width: 70%;

}

.container-fluid{
    text-align: center; 
    
}

#foto-joa {
    height: 45%;
    width: 45%;
    border-radius: 30%;
    border: 2px solid black;
    margin: 2px;
}

#whatsapp{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#linkedin{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-link .links {
  
  height: 50px; /* Set the desired height */
  width: 110px; /* Set the desired width */
}


@media (max-width: 799px) {
    /* Apply styles only when the screen width is 576px or less (cellphones) */
    .row.justify-content-center.align-items-center {
      flex-direction: column;
    }
  
    .colored-div {
      margin-left: 0; /* Reset margin on the left */
      width: 100%; /* Set width to 100% to take up full width */
    }

    #photoCon{
      justify-content: center;
      align-items: center;
      
     height: fit-content;
    }
    #foto-joa {
      height: 65%;
      width: 60%;
      border-radius: 30%;
      border: 2px solid black;
      margin: 2px;
  }
  
    
  
  }
  
 